extends layout

//- Email or print

block content
  div.container
    h1 Your summary
    div.row
        div.form-group.col-md-6
          Primary diagnosis #{ patient.primary_diagnosis }
    div.row
        div.form-group.col-md-6
          Sex #{ patient.sex }
    div.row
        div.form-group.col-md-6
          Ethnicity #{ patient.ethnicity }
    div.row
        div.form-group.col-md-6
          Year of birth #{ patient.year_of_birth }
    div.row
        div.form-group.col-md-6
          Referrer #{ patient.referrer.name }
           #{ patient.referrer.clinic }

    table.table
      th
        td Coincidental variation category
        td Your projected risk
        td Your choice
      tr
        td
          p
            b Medically actionable disease causing variations
          p  changes in genes known to cause diseases that are treatable (for example breast cancer).
        td
          #{ patient.actionable_risk }
        td
          #{ patient.actionable_choice }
      tr
        td 
          p
            b Medically unactionable disease causing variations
          p changes in genes known to cause diseases that are not yet treatable (for example Huntington's disease).
        td
          #{ patient.unactionable_risk }
        td
          #{ patient.unactionable_choice }
      tr
        td
          p 
            b Predisposition variations
          p changes in genes known to increase the risk (never to 100%) of certain diseases (for example Alhzeimers)
        td
          #{ patient.predisposition_risk }
        td
          #{ patient.predisposition_choice }
      if patient.profile.age < 50
          tr
            td
              p
                b Reproductive variations (autosomal recessive carrier status)
              p changes in genes known to increase the risk of disease in offspring when your partner also has a change in the same gene (for example Cystic Fibrosis).
            td
              #{ patient.reproductive_risk }
            td
              #{ patient.reproductive_choice }