extends layout

//- Email or print

block content
  div.container
    h1 Your summary
    div.row
        div.form-group.col-md-6
          Primary diagnosis #{ patient.primary_diagnosis }
    div.row
        div.form-group.col-md-6
          Sex #{ patient.sex }
    div.row
        div.form-group.col-md-6
          Ethnicity #{ patient.ethnicity }
    div.row
        div.form-group.col-md-6
          Year of birth #{ patient.year_of_birth }

    // [% change %]

    table
      th
        td Coincidental variation category
        td Your projected risk
        td Your choice
      tr
        td
          p
            b Medically actionable disease causing variations
          p  changes in genes known to cause diseases that are treatable (for
          example breast cancer).
      
          #{ patient.actionable_risk }
          #{ patient.actionable_choice }
      tr
        td 
          p
            b Medically unactionable disease causing variations
          p changes in genes known to cause diseases that are not yet
          treatable (for example Huntington's disease).

          #{ patient.unactionable_risk }
          #{ patient.unactionable_choice }
      tr
        td
          p 
            b Predisposition variations
          p changes in genes known to increase the risk (never to 100%) of
          certain diseases (for example Alhzeimers)

          #{ patient.predisposition_risk }
          #{ patient.predisposition_choice }
      - if patient.age < 50
        tr
          td
            p
              b Reproductive variations (autosomal recessive carrier status)
            p changes in genes known to increase the risk of disease in
            offspring when your partner also has a change in the same gene
            (for example Cystic Fibrosis).

            #{ patient.reproductive_risk }
            #{ patient.reproductive_choice }

      //  [% change %]
  
 
    
